# Vendor directory
/vendor/

# IDE & OS files
.idea/
.vscode/
*.swp
.DS_Store

# Composer (In libraries, it's optional, but usually ignored)
composer.lock

# PHPUnit
phpunit.result.cache
.phpunit.cache/

# Tests & Environment
.env
.database/
/outputs/